@model List<azurefront.Models.student>

<h2>Student List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tr>
        <td>
            <a asp-action="create" >CREATE A NEW STUDENT </a>
            </td>
        </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.age</td>
                <td>@item.course</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>